@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --font-Open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --font-padrao: Arial, Helvetica, sans-serif;

    --cor1: #59d6be;
    --cor2: #339ecc;
    --cor3: #ff4242;
    --cor4: #1a212e;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor4);
    color: white;
    font-family: var(--font-Open-sans);
}

nav {
    width: 85%;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 130px;
    height: auto;
    cursor: pointer;
}

ul.navbar {
    list-style: none;
    display: flex;
}

ul.navbar li {
    width: 100px
}

ul.navbar li a {
    text-decoration: none;
    color: white;
}

ul.navbar li a:hover {
    text-decoration: underline;

}

.section-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.intro-desc {
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
}

.illustration {
    width: 470px;
    margin-bottom: 30px
}

.intro-desc h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 25px;
    font-family: var(--font-raleway);
}

.intro-desc p {
    width: 500px;
    line-height: 1.6rem;
    font-weight: 700px;
    margin: 0 auto 30px;
}

#btn {
    width: 250px;
    padding: 14px;
    outline: none;
    border: none;
    border-radius: 25px;
    background: var(--cor1);
    color: white;
}

#btn a {
    text-decoration: none;
    color: white;
}

.curvy-bg {
    width: 100%;
    height: 40vh;
    position: relative;
    top: -210px;
    z-index: -1;
}



