@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --font-Open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --font-padrao: Arial, Helvetica, sans-serif;

    --cor1: #65e2d9;
    --cor2: #339ecc;
    --cor3: #ff4242;
    --cor4: #1c2431;
    
}

html {
    margin: 0;
    height: 0;
    padding: 0;

}

body  {
    box-sizing: border-box;
    Font-size: 14px;
    background-color: var(--cor4);
    
}

nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-repeat: no-repeat;
}

nav a {
    color: hsl(0, 0%, 100%);
    float: right;
    text-decoration: none;
    display: flex;
    padding: 14px 16px;
    
}

nav a:hover {
    transition: 0.5s;
    text-decoration: underline;
}

header {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: var(--font-raleway);
    font-weight: bolder;
    color: white;

}

header > .intro {
    width: 100%;
    padding-top: 10%;
    margin: auto;
}

.intro > p a {
    color: #D6D58E;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    text-decoration: none;
    border-radius: 20px;
    margin: 10px;
    padding: 13px 70px;
    display: inline-flex;

}

main {
    align-items: center;
    width: 800px;
    height: 500px;
    margin: auto;
    padding: 100px;
    background-image: url('../images/bg-curvy-desktop.svg');
    background-position: left right;
    background-size: cover;
}

.principal {
    height: 500px;
    width: 100%;
    margin: auto;

}

.meio-cima {
    width: 100%;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
}

picture {
    padding: 20px;
    color: white;
}

picture > a {
    text-decoration: none;
}

.links-baixo {
    color: rgb(255, 255, 255);
    float: top;
    text-decoration: none;
    display: flex;
    padding: 14px 16px;
}

.links-baixo > p {
    color: rgb(255, 255, 255);
    float: right;
    text-decoration: none;
    display: flex;
    padding: 14px 16px;
}

footer {
    background-image: url('../images/bg-curvy-desktop.svg');
    background-position: left right;
    background-size: cover;
    width: 100%;
    margin: 90px;
    text-align: center;
    font-family: var(--font-Open-sans);
    font-weight: bolder;
    color: white;
    align-items: center;

}